.button-container {
  .button {
    margin-left: 10px;
    border-radius: 3px;
    // box-shadow: black 3px 2px 3px;
    width: 75%;
    height: 30px;
    background-color: blue;
    color: white;
    font-family: Courier;
    font-weight: bold;
    font-size: 15px;
    cursor: pointer;

    &:hover {
      border: 3px solid red;
    }

    .cartImage {
      margin-left: 20px;
      margin-right: 5px;
      //   color: black;
    }

    @media (min-width: 453px) and (max-width: 1024px) {
      margin: auto auto 5px auto;
      width: 100%;
    }
  }

  .priceText {
    font-family: Courier;
  }

  .icon {
    @media (min-width: 453px) and (max-width: 1024px) {
      // margin: auto;
      width: 100%;
      padding-left: 85px;
    }

    @media (min-width: 1025px) {
      padding-left: 15px;
      padding-right: 5px;
    }
    .checked {
      color: orange;
    }
  }
}
